.Navbar {
   position: absolute;
   margin: 20px;
}

.Links {
    margin-right: 20px;
    text-decoration: none;
    color: yellow;
    font-weight: 500;
}

.Links:hover {
    color: white;
}

.navbar {
    background-image: url("../assets//star-wars-backgrounds.jpg");
}