.Search {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 300px;
    margin: 0px auto;
}

@media (max-width: 600px) {

    .Search {
        display: flex;
        justify-content: center;
        width: 200px;
    }

}